.third_page{
 max-width: 100%;
 min-height: 678px;
display: flex;
background-color: rgba(255, 67, 67, 0.8);
    flex-wrap: wrap;
}
.third_page_block_1, .third_page_block_2{
    display: flex;
    max-width: 100%;
    min-height: 40%;
    /*flex-wrap: wrap;
    justify-content: center;*/
}
.picture{
    display: flex;
    margin: 0;
   max-width: 90%;
   min-height: 340px;
}
.picture > img{
    display: flex;
    max-width: 100%;
    min-height: 40%;
}
.picture:hover{
    opacity: .4;
}
.picture:active{
    opacity: 0.06;
}
