.fourth-page__main{
     width: 100%;
    display: flex;
    margin-top: 20vw;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
width: 25vw;
height: 54vw;
display: flex;
margin-right: 30px;
flex-direction: column;

}
.data-scientist{
    margin: 0%;
}
.card_img{
      width: 26vw;
    height: 25vw;
}
.card h4{
margin: 5% 0 0 ;
font-family: 'Raleway';
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #2D3033;
}
.card h5{
    font-family: 'Raleway';
    margin:  2%  0 5% ;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #FF4343;
}
.card p{
    font-family: 'Raleway';

font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #6C7279;
}
.card_icons{
    padding-top: 13%;
}
.card_icons> img:hover{
background-color: #83abeb;
cursor: pointer;
}
